root = true

[*.xaml]
indent_style = space
indent_size = 2
end_of_line = crlf
trim_trailing_spaces = true
insert_final_newline = true
charset = utf-8

[*.cs]
# Standard options
indent_style = space
indent_size = 4
end_of_line = crlf
trim_trailing_spaces = true
insert_final_newline = true
charset = utf-8
# Roslyn options https://github.com/dotnet/roslyn/pull/15020
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
# csharp_space_around_declaration_statements = ???
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
# csharp_space_between_method_declaration_parameter_list_parentheses = ???
# csharp_space_between_method_declaration_empty_parameter_list_parentheses = ???
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_square_brackets = false
# csharp_space_between_parentheses = ...