source http://www.nuget.org/api/v2/
storage: none
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 2.3.1
nuget System.Collections.Immutable 1.3.1
nuget System.Reflection.Metadata 1.4.2
nuget Microsoft.Composition 1.0.31
nuget Gu.Roslyn.CodeFixExtensions prerelease

group Test
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces 2.3.1
  nuget Gu.Roslyn.Asserts ~> 2
  nuget NUnit
  nuget Moq
  nuget Ninject
  nuget System.Reactive
  nuget System.Reactive.Linq
  nuget System.Reactive.PlatformServices

group Build
  source http://www.nuget.org/api/v2/
  nuget Microsoft.VSSDK.BuildTools

group Analyzers
  storage: none
  source http://www.nuget.org/api/v2/
  nuget AsyncUsageAnalyzers
  nuget IDisposableAnalyzers  
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers

group Benchmarks
  storage: none
  source http://www.nuget.org/api/v2/
  nuget BenchmarkDotNet.Diagnostics.Windows
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces
  nuget NUnit
  nuget Gu.Roslyn.Asserts
  