source http://www.nuget.org/api/v2/
framework: net461, portable-net45+win8

nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.2.2

group Build
  source http://www.nuget.org/api/v2/
  framework: net461
  nuget Microsoft.VSSDK.BuildTools

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers
  nuget AsyncUsageAnalyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  framework: net461
  nuget NUnit
  nuget System.Reactive
  nuget System.Reactive.Linq
  nuget System.Reactive.PlatformServices

group Benchmarks
  source http://www.nuget.org/api/v2/
  framework: net461
  nuget BenchmarkDotNet.Diagnostics.Windows
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces
  