type project
id IDisposableAnalyzers
include-referenced-projects true
developmentDependency true

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.AnalyzerExtensions.dll ==> analyzers/dotnet/cs
  bin/Release/Gu.Roslyn.CodeFixExtensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools


