[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

dotnet_diagnostic.CS0067.severity = none
dotnet_diagnostic.CS0169.severity = none
dotnet_diagnostic.CS0660.severity = none
dotnet_diagnostic.CS0661.severity = none
# CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none
