[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
# SA1401: Field should be private
dotnet_diagnostic.SA1401.severity = none

# RS2008: Enable analyzer release tracking
dotnet_diagnostic.RS2008.severity = none
