type project
developmentDependency true
projectUrl https://github.com/DotNetAnalyzers/IDisposableAnalyzers
licenseUrl http://opensource.org/licenses/MIT

releaseNotes
  New analyzer: IDISP018.
  New analyzer: IDISP019.
  New analyzer: IDISP020.
  New analyzer: IDISP021.
  New analyzer: IDISP022.
  New analyzer: IDISP023.

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools

