[*.cs]
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0009.severity = none
# IDE0018: Inline variable declaration
dotnet_diagnostic.IDE0018.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0059.severity = none
# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none
# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none
# IDE0066: Convert switch statement to expression
dotnet_diagnostic.IDE0066.severity = none
# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = none
# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE1006.severity = none

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = none
dotnet_diagnostic.CS0169.severity = none
# CS1717: Assignment made to same variable
dotnet_diagnostic.CS1717.severity = none
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none


# RS1024: Compare symbols correctly
dotnet_diagnostic.RS1024.severity = none

# CA2011: Avoid infinite recursion
dotnet_diagnostic.CA2011.severity = none
